{% extends 'body.html' %}
{% load static %}
{% block head %}

    <link rel="stylesheet" href="{% static 'lib/datatables/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables/plugins/buttons-2.2.1/css/buttons.bootstrap4.min.css' %}"/>

    <script src="{% static 'lib/datatables/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables/plugins/jszip-2.5.0/jszip.min.js' %}"></script>
    <script src="{% static 'lib/datatables/plugins/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script src="{% static 'lib/datatables/plugins/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
    <script src="{% static 'lib/datatables/plugins/buttons-2.2.1/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'lib/datatables/plugins/buttons-2.2.1/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'lib/datatables/plugins/buttons-2.2.1/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables/plugins/buttons-2.2.1/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'lib/datatables/plugins/buttons-2.2.1/js/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'lib/datatables/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>

    <script src="{% static 'lib/moment-2.30.1/moment.min.js' %}"></script>
    
    {% block head_list %}

    {% endblock %}
    
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header navbar-dark-blue">
            <h3 class="card-title fuente">
                <i class="fas fa-search"></i>
                {{ title }}
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                {% block actionbuttons %}
                    <div style="list-style-type: none; display: inline-block; padding-bottom: 20px;">
                            <a href="{{ create_url }}" class="btn btn-info btn-flat btn-custom">
                                <i class="fas fa-plus-circle"></i> Nuevo Registro
                            </a>
                            <a href="{{ list_url }}" class="btn btn-primary btn-flat btn-custom">
                                <i class="fas fa-sync"></i> Actualizar
                            </a>
                    </div>
                {% endblock %}
            </div>
            <table class="table table-bordered" id="data">
                <thead style="white-space: nowrap">
                {% block columns %}

                {% endblock %}
                </thead>
                <tbody>
                {% block rows %}

                {% endblock %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">
        $(function () {
            /*lengthChange: false,https://datatables.net/extensions/buttons/examples/split/bootstrap4.html*/
            var table = $('#data').DataTable({
                responsive: true,
                autoWidth: false,
                order: [[ 4 , "desc" ]],
                buttons: [
                {
                    extend: 'copyHtml5',
                    exportOptions: {
                        columns: [0, 1, 2]
                    }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: [0, 1, 2]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: [0, 1, 2]
                    }
                }]
            });
        });
    </script>
{% endblock %}